.flexSpacer {
    flex: 1 1 auto;
}

.content {
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.entryCard {
    cursor: pointer;
    width: 15rem;
    margin: 10px;
}

.cardHead {
    min-height: 64px;
}

.makeTabGroupSticky {
    max-height: 100%;
}

.cardImageStandardize {
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
}

.sidenav-container {
    top: 64px !important;
    /* What if the toolbar has a different size? */
}

.sidenav-lateral {
    min-width: 25%;
}

.mat-badge-content
{
  width: auto;
    display: grid;
    min-width: 22px;
    min-height: 18px;
    text-align: center;
    align-items: center;
    padding: 3px;
    margin-bottom: .5em;
    margin-right: .5em;
}


@media(max-width: 599px) {
    .sidenav-container {
        top: 56px !important;
    }

    .sidenav-lateral {
        min-width: 100%;
        top: 56px !important;
    }

    .entryCard {
        cursor: pointer;
        width: 10rem;
        margin: 5px;
    }

    .cardHead {
        font-size: medium;
        min-height: 48px;
    }
}
