[Unit]
Description=SagraPOS service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
User=olli
WorkingDirectory=/home/olli/SagraPOS/publish
ExecStart=/home/olli/SagraPOS/publish/SagraPOS

[Install]
WantedBy=multi-user.target